*.4ct
*.4tc
*.aux
*.auxlock
*.bbl
*.blg
*.brf
*.dpth
*.djs
*.dvi
*.eps
*.fdf
*.gz
*.idv
*.idx
*.ilg
*.ind
*.jax
*.jpg
*.lg
*.log
*.md5
*.nb
*.oc
*.out
*.pdf
*.png
*.ps
*.sage-chat
*.svg
*.synctex.gz
*.tmp
*.toc
*.xref
*.ids
*.sage*
Config.sty
*~
